.icon {
  display: inline-block;

  svg {
    height: 100%;
    width: 100%;
    object-fit: cover;
    fill: rgba(255, 255, 255, 0.38);
  }

  &-button {
    width: 42px;
    height: 42px;

    border-radius: 8px;

    &:hover {
      background: #283036;
      box-shadow: 0px 5px 10px -3px rgba(18, 18, 18, 0.15);

      svg {
        fill: red;
      }
    }
  }

  &--like {
    height: 29px;
    width: 29px;
  }

  &--add {
    height: 24px;
    width: 27px;
  }

  &--insta {
    height: 27px;
    width: 27px;
  }

  &--facebook {
    height: 25.5px;
    width: 13.23px;
  }

  &--twitter {
    height: 23.94px;
    width: 29.48px;
  }

  &--slider-arrow {
    width: 20px;
    height: 28px;
    stroke: white;
    stroke-opacity:0.28;

    &-next {
      transform: rotate(180deg);
    }

    &:hover {
      svg {
        stroke: #ff6e30;
        stroke-opacity:1;
      }
    }
  }
}
