.menu {
  &__list {
    display: flex;
    align-items: center;
  }

  &__item {
    margin-right: 42px;
    display: flex;
    align-items: center;

    &:last-child {
      margin-right: 0;
    }

    &--arrow {
      .menu__link {
        &:after {
          content: "";
          display: inline-block;
          height: 5px;
          width: 9px;
          background: url(../../img/icons/menu-arrow.svg) center no-repeat;
          margin-left: 9px;
        }
      }
    }
  }

  &__link {
    color: rgba(255, 255, 255, 0.55);
    font-size: 16px;
  }
}
