.socials {
  &__list {
    display: flex;
    align-items: center;
  }

  &__item {
    margin-right: 44px;

    &:last-child {
      margin-right: 0;
    }
  }

  &__link{
    display: inline-block;
  }
}
